.C-projects{
    margin: 120px auto 50px;
}
.C-projects__title{
    font-size: var(--titulo-principal);
    font-weight: 600;
    color: var(--color1);
    margin: 120px 0 70px;
}
.C-projects__wrapper{
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 20px;
}
@media (max-width:1200px){
    .C-projects__wrapper{
        grid-template-columns: 48% 48%;
        grid-column-gap: 4%;
    }
}
@media (max-width:800px){
    .C-projects__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 360px;
    }
}
@media (max-width:450px){
    .C-projects__wrapper{
        width: 100%;
        min-width: 280px;
        
    }
}