
.c-introduction{
    background-image: var(--backgroundImageHero);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    min-height: 700px;
}
.c-introduction__wrapper{
    padding: 30vh 0;
}
.c-introduction h2{
    font-size: var(--titulo-secundario);
    font-weight: 500;
    color: var(--color1); 
}
.c-introduction h1{
    color: var(--colorFont1);
    font-size: var(--titulo-principal);
    font-weight: 300;
    margin: 5px 0; 
    animation-delay: 0.3s;
}
.c-introduction span{
    color: var(--color1);
    font-weight: 600;
}
.c-introduction p{
    color: var(--colorFont1);
    font-size: var(--texto-normal);
    animation-delay: 0.7s; 
}
.animation{
    position: relative;
    left: -200px;
    opacity: 0; 
    animation: aparecer 0.5s forwards;
}

@keyframes aparecer {
    from {
        left: -200px; 
        opacity: 0; 
    }
    to {
        left: 0; 
        opacity: 1; 
    }
}