
.c-introduction{
    background-image: var(--bg-Hero);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    min-height: 700px;
}
.c-introduction__wrapper{
    padding: 30vh 0;
}
.c-introduction h2{
    font-size: var(--font-size-contrast);
    font-weight: 500;
    color: var(--color-secondary); 
    animation-delay: 2s; 
}
.c-introduction h1{
    color: var(--color-font-1);
    font-size: var(--font-size-title);
    font-weight: 300;
    margin: 5px 0; 
    animation-delay: 2.3s;
}
.c-introduction__special_Text{
    color: var(--color-primary);
    font-weight: 600;
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.c-introduction p{
    color: var(--color-font-1);
    font-size: var(--font-size-normal);
    animation-delay: 2.6s; 
}