.c-arrow{
  display: block;
  margin: auto;
  width: 100px;
  height: 50px;
  opacity: 0;
  animation: aparecer 1.5s forwards;
  animation-delay: 3s; 
}
.c-arrow__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: quicar 1s infinite alternate;
  animation-delay: 2.5s; 
}
.c-arrow span:first-child {
  border-radius: 10px;
  display: block;
  width: 50px;
  height: 5px;
  margin-right: -6px;
  background-color: var(--color2);
  transform: rotate(35deg);
}
.c-arrow span:last-child {
  border-radius: 10px;
  display: block;
  width: 50px;
  height: 5px;
  margin-left: -6px;
  background-color: var(--color2);
  transform: rotate(-35deg);
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes quicar {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}