.c-header{
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    padding: 30px 100px 25px 50px;
    border-radius: 0 0 0 70px;
    background-color: var(--color-bg-2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}
.c-header ul{
    display: flex;
    align-items: center;
}
.c-header li{
    margin: 0 25px 0 0;
}
.c-header a{
    min-width: 85px;
    font-size: var(--font-size-normal);
    transition: 0.2s;
    color: var(--color-font-1);
}
.c-header a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    transition: 0.2s;
}
.c-header a:hover::after{
    width: 100%;
}

.c-header button{
    background-color: var(--color-bg-2);
    border-radius: 20px;
    padding: 2px 5px;
    cursor: pointer;
}

@media (max-width:600px){
    .c-header{
        padding: 25px 30px 20px 50px;
    }
    .c-header a{
        margin: 0 10px 0 0;
    }
}