@charset "UTF-8";
@import url('reset.css');

:root{
    --titulo-principal: clamp(24px, 3vw, 40px);
    --titulo-secundario: clamp(21px, 3vw, 30px);
    --texto-normal: clamp(15px, 3vw, 20px);

    /* Paleta de Cores Dark, padrão inicial */
    --color1: #8fdac2;
    --color2: #75cce9;
    --color3: #3a4758;
    --color4: #1d2130;
    --color5: #15151f;

    --colorFont1: #f7f7f7;
    --colorFont2: #afafaf;
    --colorFont3: #757575;

    --backgroundImageHero: url('../assets/images/heroDark_background.png');
}
.light-theme {
    /* Paleta de Cores Light */
    --color1: #758165;
    --color2: #759580;
    --color3: #bfd4c7;
    --color4: #d8e0dd;
    --color5: #ffffff;
    
    --colorFont1: #1E1E1E;
    --colorFont2: #555555;
    --colorFont3: #616161;

    --backgroundImageHero: url('../assets/images/heroLight_background.png');
}

html{
    scroll-behavior: smooth;
    max-width: 100%;
    background-color: var(--color5);
}

.divisor{
    margin: auto;
    width: 80%;
    height: 1px;
    background-color: var(--color1);
}

.wrapper{
    width: 80vw;
    min-width: 280px;
    max-width: 1200px;
    margin: auto;
}
