@charset "UTF-8";
@import url('reset.css');

:root{
    --titulo-principal: clamp(24px, 3vw, 40px);
    --titulo-secundario: clamp(21px, 3vw, 33px);
    --texto-normal: clamp(15px, 3vw, 20px);
    Font-size: 2.75vmin; 

    /* Paleta de Cores Dark, padrão inicial */
    --color1: #8fdac2;
    --color2: #75cce9;
    --color3: #3a4758;
    --color4: #1d2130;
    --color5: #15151f;

    --colorFont1: #f7f7f7;
    --colorFont2: #cccccc;
    --colorFont3: #aaaaaa;

    --backgroundImageHero: url('../assets/images/heroDark_background.png');
}
.light-theme {
    /* Paleta de Cores Light */
    --color1: #758165;
    --color2: #759580;
    --color3: #D8E5DD;
    --color4: #f3f3f3;
    --color5: #ffffff;

    --colorFont1: #1E1E1E;
    --colorFont2: #555555;
    --colorFont3: #f7f7f7;

    --backgroundImageHero: url('../assets/images/heroLight_background.png');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    background-color: var(--color5);
}

.title-projects{
    font-size: var(--titulo-principal);
    font-weight: 600;
    color: var(--color1);
    width: 80%;
    margin: 150px auto 0;
}
.divisor{
    margin: auto;
    width: 80%;
    height: 1px;
    background-color: var(--color1);
}

.wrapper{
    width: 80vw;
    max-width: 1200px;
    margin: auto;
}
