.c-intro{
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg-1);
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    animation: disappear 1s forwards;
    animation-delay: 1.5s;
}
.c-intro p{
    font-size: 1.5rem;
    color: var(--color-font-1);
    margin: 0;
    animation-delay: 0.3s;
}
.c-intro__animation{
    opacity: 0;
    animation: leftToRight 1.5s forwards;
}