/* As classes do file globals irão ter o prefixo 'gs' */

:root{
  --font-size-title: clamp(24px, 3vw, 40px);
  --font-size-contrast: clamp(21px, 3vw, 30px);
  --font-size-normal: clamp(17px, 3vw, 20px);
}


:root{
  --color-primary: #8fdac2;
  --color-secondary: #75cce9;
  --color-bg-1: #0e1314;
  --color-bg-2: #191d1d;
  --color-bg-3: #202424;
  --color-bg-4: #303333;
  --color-font-1: #f0f0f0;
  --color-font-2: #d1d1d1;
  --color-font-3: #4e4e4e;
  --color-font-4: #303030;
  --bg-Hero: url('../../assets/images/heroDark_background.png');
}

html{
  scroll-behavior: smooth;
  max-width: 100%;
  background-color: var(--color-bg-1);
}

.gs-wrapper{
  width: 80vw;
  min-width: 280px;
  max-width: 1200px;
  margin: auto;
}

.gs-animation-from-left{
  position: relative;
  transform: translateX(-100%);
  opacity: 0;
  animation: fromleft 0.5s forwards;
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -100;
}
}

@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

@keyframes fromleft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  20% {
      transform: translateX(0);
      opacity: 1;
  }
  80% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(100%);
      opacity: 0;
  }
}